@inject SignInManager<IdentityUser> signInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarTogglerDemo01">
                <div class="navbar-nav mr-auto">
                    <a class="active nav-link nav-item" asp-controller="Home" asp-action="index">Home</a>
                </div>

                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <div class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="text-info nav-item nav-link">@User.Identity.Name</div>
                            <form asp-action="Logout" asp-controller="Account" method="post">
                                <button type="submit" class="nav-item nav-link btn btn-link">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a class="nav-item nav-link" asp-action="Login" asp-controller="Account">Login</a>
                            <a class="nav-item nav-link" asp-action="Register" asp-controller="Account">Register</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
</body>
</html>
