@model AccountDetail
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
<h4>Input details to Register</h4>

<form method="post" style="max-width:400px" asp-controller="Account" asp-action="Register">

    <div class="form-group">
        <label asp-for="UserName">UserName</label>
        <input class="form-control" asp-for="UserName" />
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input class="form-control" asp-for="Password" />
        <span class="text-danger"></span>
    </div>

    <div class="ml-3 mb-3">
        <input class="form-check-input" asp-for="PresistantLogin" />
        <label class="form-check-label" asp-for="PresistantLogin">Remember my login</label>
    </div>

    <div class="text-danger" asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-lg btn-primary">Register</button>
</form>